---
layout: page
title: Game
---
<div class="d-flex flex-column align-items-center">
    <div class="ratio ratio-16x9 w-50 h-50">
        <iframe id="gameid" allowfullscreen="" class="w-100 h-100" src="/godot_game/index.html"></iframe>
    </div>
    <a onclick="openFullscreen()" class="btn btn-primary w-50">Go Fullscreen!</a>
</div>

<script>
    var game = document.getElementById("gameid");
    function openFullscreen() {
        if (game.requestFullscreen) {
            game.requestFullscreen();
        }
    }
</script>

<style>
    canvas {
        overflow: hidden !important;
        overflow-clip-margin: 0em;
    }
</style>