---
layout: page
title: Game
---
<div class="ratio ratio-16x9">
    <iframe id="gameid" allowfullscreen="" class="w-100" src="/godot_game/index.html"></iframe>
</div>
<a onclick="openFullscreen()" class="btn btn-primary">Test!</a>
<script>
    var game = document.getElementById("gameid");
    function openFullscreen() {
        if (game.requestFullscreen) {
            game.requestFullscreen();
        }
    }
</script>